:root {
  --alot-brown: #865439;
  --brown: #c68b59;
  --little-brown: #fcdec0;
  --blue: #8fc1d4;
}
@font-face {
  font-family: "cubano";
  src: url(./../fonts/iCielBCCubano-Normal.otf);
}
@font-face {
  font-family: "franko";
  src: url(./../fonts/SVN-Franko.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "cubano";
}
a {
  text-decoration: none;
  display: block;
  
}
li {
  list-style-type: none;
  display: block;
}
ul {
  display: flex;
}

#wapper {
  width: 100%;
  margin: auto;
}

#header {
  height: 4rem;
  background-color: var(--brown);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav {
  
  display: block;
  margin: 0px 1%;
  font-size: 1rem;
  text-transform: uppercase;
  border: #8fc1d4 1px solid;
}

.nav .menu .fa-bars{
  font-size: 2rem;
  margin: 5px;
  left: 2%;
  /* display: none; */
}

.menu .menu-list{
  background-color: #8fc1d4;
  left: -500px;
  top: 8%;
  z-index: 3;
  position: absolute;
  flex-direction: column;
  font-size: 3rem;
}
.menu .menu-list-show{
  transform: translateX(500px);
  transition: transform 0.2s ease-in-out;
}


.menu .menu-list-hide{
  transform: translateX(-200px);
  transition: transform 0.2s ease-in-out;
}


.nav .logo {
  width: 80px;
}
.list-inline{
  border: olive 1px solid;
}

.list-inline .list-item a:hover {
  background-color: white;
  color: var(--alot-brown);
}
.list-inline .list-item:hover .sub-list {
  display: block;
  z-index: 1;
}

.list-item a {
  color: white;
  padding: 10px;
}

.list-item {
  margin: 0px 20px;
  position: relative;
  font-size: 1.5rem;
}

.sub-list {
  position: absolute;
  flex-direction: column;
  font-size: 0.8rem;
  display: none;
}
.sub-list .sub-list-item {
  background-color: var(--brown);
  font-size: 1rem;
}


.fas .fa-bars{
  display: none !;
}

/* SLIDER CSS */

.slider {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.image-contain-slider {
  display: flex;
  height: 700px;
}
img {
  /* display: block; */
  width: 100%;
}
.slider-button {
  position: absolute;
  top: 45%;
  margin: auto;
  display: block;
  width: 100%;
}

.fas {
  background-color: var(--blue);
  color: white;
  display: block;
  border-radius: 10%;
  position: absolute;
  padding: 4px;
  cursor: pointer;
}
.fa-angle-double-right {
  right: 10px;
}
.fa-angle-double-left {
  left: 10px;
}

/* #slider-text {
  background-color: var(--blue);
  opacity: 0.5;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.main-text {
  font-family: "cubano";
}

.sub-text {
  font-family: "franko";
} */
/* END SLIDER
==================================== */


/* START MENU */

#menu{
  background-color: var(--brown);
}



#menu .menu-category .category-name{
  padding: 3% 1.5% 0 1.5%;
  margin-left: 5%;
  font-size: 2rem;
  color: var(--little-brown);
  font-family: "cubano";
}
#category-best-saller{
  color: var(--blue) !important;
}

.menu-category .category-contain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
}

.menu-category .category-contain .menu-item{
  margin: 3%;
  padding: 1%;
  background-color: #fff;
  width: 22%;
  transition: transform .2s;
}

.category-contain .menu-item a{
  color: var(--alot-brown);
  font-size: 0.8rem;
}

.menu-item:hover {
  transform: scale(1.07);
}




/* END MENU */
#content #story-about-luon{
  background-color: var(--brown);
  
}

#content #story-about-luon .story-text{
  text-align: center;
  padding: 30px;
  font-size: 2rem;
  font-family: "cubano";
}

#content #story-about-luon .story-content{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  padding: 30px;
}
#story-about-luon .story-explain{
  text-align: center;
  padding: 0  5%;
  width: 50%;
  font-size: 1.5rem;
}

#story-about-luon .story-explain h1{

  font-size: 2rem;
  color: #fff;
}

#story-about-luon .story-explain p{
  font-family: 'Playfair Display', serif;
  padding: 0 0 0 15%;
}

#story-about-luon .story-image{
  transform: translateX(-95%);
  transition: transform 0.4s ease-in-out;
}

#story-about-luon:hover .story-image{
  transform: translateX(0px);
}

/* END STORY */

/* START FOOTER */
#footer{
  display: flex;
  flex-direction: row;
  padding: 2% 10%;
  font-size: 1.5rem;
}

#footer .address{
  width: 50%;
}

#footer .footer-contact{
  width: 50%;
}

.address .address-detail{
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
}

.contact-social-media{
  display: flex;
  flex-direction: row;
  font-size: 3rem;
}

.contact-social-media .fab{
  color: var(--alot-brown);
  ;
}

.contact-social-media a{
  padding: 2%;
  
}
.contact-social-media i{
  transition: transform 0.2s ease-in-out;
}


.contact-social-media i:hover {
  color: var(--blue);
  transform: translateY(-8px);
}

